@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

.fc .fc-toolbar-title {
	text-transform: capitalize !important;
}

.event-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fc thead {
	height: 30px;
}
.fc .fc-col-header-cell-cushion {
	padding: 10px;
}
